<footer>
    <div class="container-sitemap">
        <div class="container">
            <div class="row row-sitemap hidden-sm hidden-xs">
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <h3 class="footerhead"><a href="/">Home</a></h3>
                    <ul class="sitemap">
                        <li class=""><a href="/news/">News</a></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <h3 class="footerhead"><a href="/get-started/">Get Started</a></h3>
                    <ul class="sitemap">
                        <li class=""><a href="/get-started/about/">About Firedu</a></li>
                        <li class=""><a href="/get-started/philosophy/">Philosophy</a></li>
                        <li class=""><a href="/get-started/screenshots/">Screenshots</a></li>
                        <li class=""><a href="/wiki/FAQ">FAQ <span class="fa fa-fw fa-external-link-square external-link" title="This link will leave www.firedu.org."></span></a></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <h3 class="footerhead"><a href="/downloads/">Downloads</a></h3>
                    <ul class="sitemap">
                        <li class=""><a href="/downloads/mirrors/">Mirrors</a></li>
                        <li class=""><a href="/downloads/signatures/">Signatures</a></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <h3 class="footerhead"><a href="/inside-firedu/">Inside Firedu</a></h3>
                    <ul class="sitemap">
                        <li class=""><a href="/inside-firedu/developers/">Developers</a></li>
                        <li class=""><a href="/wiki/project">Projects <span class="fa fa-fw fa-external-link-square external-link" title="This link will leave www.firedu.org."></span></a></li>
                        <li class=""><a href="/inside-firedu/artwork/">Artwork</a></li>
                        <li class=""><a href="/inside-firedu/foundation/">Firedu Foundation</a></li>
                        <li class=""><a href="/inside-firedu/sponsors/">Sponsors</a></li>
                        <li class=""><a href="/inside-firedu/stores/">Stores</a></li>
                        <li class=""><a href="/inside-firedu/contact/">Contact</a></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <h3 class="footerhead"><a href="/support/">Support</a></h3>
                    <ul class="sitemap">
                        <li class=""><a href="/support/consulting/">Consulting</a></li>
                        <li class=""><a href="/support/documentation/">Documentation</a></li>
                        <li class=""><a href="/support/news-items/">News items</a></li>
                        <li class=""><a href="/support/security/">Security</a></li>
                        <li class=""><a href="/support/use-flags/">USE flags</a></li>
                        <li class=""><a href="/support/rsync-mirrors/">rsync mirrors</a></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <h3 class="footerhead"><a href="/get-involved/">Get Involved</a></h3>
                    <ul class="sitemap">
                        <li class=""><a href="/get-involved/irc-channels/">IRC channels</a></li>
                        <li class=""><a href="/get-involved/mailing-lists/">Mailing lists</a></li>
                        <li class=""><a href="/get-involved/contribute/">Contribute</a></li>
                        <li class=""><a href="/get-involved/become-developer/">Become a developer</a></li>
                        <li class=""><a href="/get-involved/get-code/">Get the code</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-md-2">
                <ul class="footerlinks three-icons">
                    <li><a href="#" title="@Firedu on Weixin"><span class="fa fa-weixin fa-fw"></span></a></li>
                    <li><a href="#" title="@Firedu on QQ"><span class="fa fa-qq fa-fw"></span></a></li>
                    <li><a href="#" title="@Firedu on Weibo"><span class="fa fa-weibo fa-fw"></span></a></li>
                </ul>
                <div>
                    <div class="sitemap text-center">
                        <a href="/wiki/foundation/privacy_policy">Privacy Policy</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-md-9">
                <strong>© 2001–2017 Firedu Foundation, Inc.</strong><br>
                <small>
                    Firedu is a trademark of the Firedu Foundation, Org.
                </small>
            </div>
        </div>
    </div>
</footer>
