<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">
    <title>Book</title>
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/tyrian.css" rel="stylesheet" media="screen">
</head>
<body>
<#include "../shared/navbar.html"/>
<div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
<#include "../shared/footer.html"/>
<script src="/static/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
